body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
input[type="text"] {
    padding: 5px;
    font-size: 16px;
    background-color: rgb(221, 123, 152);
}
button {
    padding: 5px 10px;
    font-size: 16px;
    color: #410606;
    background-color: rgb(134, 47, 76);
}
.result {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
